@model DiscountOptionDataWeb.Models.SubIndexViewModel

@{
    ViewBag.Title = "Daily Subscription Option Data";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<div class="container-fluid">

        <h1> <span style="color: #f4511e;">Daily Subscription Service</span></h1>

        <p>
            We offer daily subscription service for end of day option data for the entire US market (over 4 thousand symbols). Once subscribed, daily end of day
             option data is available within 24 hours for download after 4 AM of the next business day (Eastern US time). Files are shared at drive.google.com.
        </p>

  
        <strong><span style="color:#f4511e">Data Fields</span></strong>
        <p>
            Symbol, ExpirationDate, AskPrice, AskSize, BidPrice, BidSize, LastPrice, PutCall, StrikePrice, Volume,   OpenInterest, UnderlyingPrice, DataDate
        </p>
        
      
       <br/><br/>
     
            <div class="row">
                @{
                    var query = Model.Plans.Where(item => item.IsActive);
                }
                @foreach (var plan in query)
                {
                    @*<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">*@
                    <div class="col-xs-12 col-md-12">
                        <!-- PRICE ITEM -->
                        <div class="panel price @plan.CSSThemeClasses">
                            <div class="panel-heading  text-center">
                                <h3>@plan.Name</h3>
                            </div>
                            <div class="panel-body text-center">
                                <p class="lead" style="font-size:40px"><strong>$@plan.AmountInDollars/@plan.IntervalCount  @plan.Interval</strong></p>
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item" style="font-size:30px"><i class="lead"></i>7-day Trial Period</li>
                                @foreach (var feature in plan.Features)
                                {
                                    <li class="list-group-item"><i class="icon-ok text-danger"></i>@feature.Description</li>
                                }
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block @plan.CSSThemeButtonClasses" href="Billing/@plan.Id">SUBSCRIBE NOW!</a>
                            </div>
                        </div>
                        <!-- /PRICE ITEM -->
                    </div>
                }

        </div>

    <strong><span style="color:#f4511e">Refund/Cancellation Policy</span></strong>
    <p>
        If you cancel within the 7-day free trial period, you will not be charged.  We do not offer refunds for cancellations after the 7-day free trial period.
        To cancel please write to us at
        <a href="mailto:sales@discountoptiondata.com">sales@discountoptiondata.com</a>
    </p>
    </div>
