@model DiscountOptionDataWeb.Models.CustomerOrder
@using System.Configuration
@using DiscountOptionDataWeb.Models
@{
    ViewBag.Title = "AddressAndPayment";
}

<style type="text/css">
    input[type=checkbox] {
    zoom: 1.5;

}
     /* Note: Try to remove the following lines to see the effect of CSS positioning */
    .affix {
        top: 0;
        width: 100%;
    }

        .affix + .container-fluid {
            padding-top: 70px;
        }

    .LockOff {
			display: none;
			visibility: hidden;
		}
		
		.LockOn {
			display: block;
			visibility: visible;
			position: absolute;
			z-index: 999;
			top: 0px;
			left: 0px;
			width: 105%;
			height: 205%;
			background-color: #ccc;
           
			text-align: center;
            font-size:xx-large;
			padding-top: 60%;
			filter: alpha(opacity=75);
			opacity: 0.75;
		}

</style>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>


<br/>
<br/>
@*https://dcrazed.com/jquery-css3-progress-bars/*@

    <div class="checkout-wrap">
        <ul class="checkout-bar">
            <li class="previous visited">Login</li>

            <li class="previous visited">Checkout</li>

            <li class="active">Delivery Options/Payment</li>

            <li class="next">Complete</li>

        </ul>
    </div>


    <br />
    <br />
    <br />
    <!--Step 1: choose delivery methods-->

    @using (Html.BeginForm("AddressAndPayment", "Checkout", new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "form-horizontal require-validation", role = "form", id = "frmCharge" }))
    {

        <div class="container">

            <h2>SELECT YOUR DELIVERY METHODS AND MAKE PAYMENT</h2>
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading">Direct download from DiscountOptionData.com</div>
                    <div class="panel-body"><p>Upon completion of purchase, we will provide you a link to download your files.</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Delivery to your Google Drive:&nbsp;</div>
                    <div class="panel-body">
                        <p>
                            If you don't have a Google Account already, you can quickly <a href="https://accounts.google.com/SignUp" target="_blank">sign up here</a>
                            <br />
                            Please provide us your Google Email address to have your files shared automatically to your Shared Google Drive
                            <div class="form-group">
                                @Html.LabelFor(m => m.GmailAddress, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @if (User.Identity.Name.Contains("gmail"))
                                    {
                                        @Html.TextBoxFor(m => m.GmailAddress, new { id = "txtGmailAddress", @Value = User.Identity.Name, @class = "form-control", @placeholder = "abc@gmail.com" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.GmailAddress, new { id = "txtGmailAddress", @Value = "", @class = "form-control", @placeholder = "example: abc@gmail.com" })
                                    }
                                </div>
                            </div>


                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Physcial Delivery:&nbsp; The old fashion way!</div>
                    <div class="panel-body">
                        <p> We'll send you a flash drive with data to your home address</p>
                        <p>
                            Please check if you want this option:
                            @Html.CheckBoxFor(model => model.ShipToHome, new { id = "chkShipToHome", @onchange = "ShipToHomeChange()" })
                        </p>
                        <p>Please note that we'll need to charge you a flat shipping and handling fee of $50</p>

                        <div class="panel panel-info" id="divShippingAddress">

                            <div class="panel-body">


                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <strong>First Name:</strong>
                                        @*<input type="text" name="first_name" class="form-control" value="" />*@
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "txtFirstName", @Value="" })
                                        <span id="spFirstName" style="color:green">*Required</span>
                                    </div>
                                    <div class="span1"></div>
                                    <div class="col-md-6 col-xs-12">
                                        <strong>Last Name:</strong>
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "txtLastName", @Value = "" })
                                        <span id="spLastName" style="color:green">*Required</span>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-12 col-xs-12">
                                        <strong>Address:</strong>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "txtAddress", @Value = "" })
                                        <span id="spAddress" style="color:green">*Required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-xs-12">
                                        <strong>City:</strong>
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", id = "txtCity", @Value = "" })
                                        <span id="spCity" style="color:green">*Required</span>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <strong>State:</strong>
                                        @*@Html.TextBoxFor(model => model.State, new { @class = "form-control", id = "txtState", @Value = "" })*@
                                        @Html.DropDownListFor(model => model.State,
                                        StaticLists.States,
                                        new { @class = "form-control", id="txtState" })
                                        <span id="spState" style="color:green">*Required</span>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <strong>Zip / Postal Code:</strong>
                                        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control", id = "txtPostalCode", @Value = "" })
                                        <span id="spZip" style="color:green">*Required</span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div style="color:red;text-align:center;">

            <h2><span style="color: #f4511e;">@ViewBag.PaymentIssue</span></h2>

        </div>

        <!--Step 2: Enter your credit card-->
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">Payment Information</div>
                <p class="panel-body">
                    Your credit card transactions are secure with us. We use secure socket layer technology throughout the site. We do not store
                    your credit card numbers on our servers and are PCI compliant.
                    We use Stripe.com, one of the most secure and reputable payment processors available.

                </p>
                <div class="panel-body">
                    <div class="panel-heading display-table">
                        <div class="row display-tr">

                            <div class="display-td">
                                <img class="img-responsive pull-left" src="~/Img/accepted_c22e0.png">
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'></div>
                        <div class='col-md-4'>
                            <script src='https://js.stripe.com/v2/' type='text/javascript'></script>

                            <div class='form-row'>
                                <div class='col-xs-12 form-group required'>
                                    <label class='control-label'>Name on Card</label>
                                    <input id="txtNameOnCard" class='form-control' size='4' type='text' value="">
                                    <span id="spNameOnCard" style="color:green">*Required</span>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='col-xs-12 form-group card required'>
                                    <label class='control-label'>Card Number</label>
                                    <input autocomplete='off' id="txtCardNumber" value="4111111111111111" class='form-control card-number' maxlength="16" size='20' type='text'>
                                    <span id="spCCNumber" style="color:green">*Required</span>
                                 </div>
                            </div>
                            <div class='form-row'>
                                <div class='col-xs-4 form-group cvc required'>
                                    <label class='control-label'>CVC</label>
                                    <input autocomplete='off' id="txtCvc" class='form-control card-cvc' value="123" maxlength="4"  size='4' type='text'>
                                    <span id="spCvc" style="color:green">*Required</span>
                                </div>
                                <div class='col-xs-4 form-group expiration required'>
                                    <label class='control-label'>Expiration</label>
                                    @*<input class='form-control card-expiry-month' id="txtExpiryMonth" value="11" placeholder='MM' size='2' type='text'>*@
                                    <select name="txtExpiryMonth" id="txtExpiryMonth" class='form-control card-expiry-month'>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class='col-xs-4 form-group expiration required'>
                                    <label class='control-label'>&nbsp;</label>
                                    @*<input class='form-control card-expiry-year' id="txtExpiryYear" value="2019" placeholder='YYYY' size='4' type='text'>*@
                                    <select name="txtExpiryYear" id="txtExpiryYear" class='form-control card-expiry-year'>
                                     
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024"  selected>2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
										<option value="2026">2027</option>
										<option value="2026">2028</option>
                                    </select>
                                </div>
                               
                            </div>

                            <div class='form-row'>
                                <div class='col-xs-12 form-group'>
                                    <p>
                                        Enter your coupon if you have one:
                                        @Html.TextBoxFor(m => m.Coupon, new { id = "txtCoupon", @Value = "" })
                                    </p>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='col-md-12 error form-group hide'>
                                    <div class='alert-danger alert'>
                                        Please correct the errors and try again.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

       

        <p>
            @Html.HiddenFor(model => model.Token, new { id = "hdnToken" })
            <button type="button" id="btnCharge" class="btn btn-primary center-block btn-lg">PLACE YOUR ORDER </button>

      

        </p>

    }

<div id="skm_LockPane" class="LockOff"></div>

    @section Scripts {
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

        <script type="text/javascript">
            function ShipToHomeChange() {
                //have it here too, toggle on/off the Shipping Address
                var chkShipToHome = document.getElementById('chkShipToHome').checked;
                var divShowHide = document.getElementById('divShippingAddress');
                //alert(chkShipToHome);
                if (chkShipToHome == false) {
                    //alert('false');
                    divShowHide.style.display = 'none';
                } else {
                    //alert('true');
                    divShowHide.style.display = 'block';
                }
            }

            
            function skm_LockScreen(str)
            {
             
                var lock = document.getElementById('skm_LockPane');
                if (lock)
                    lock.className = 'LockOn';
				
                lock.innerHTML = "<img src='../../Content/images/wait30.gif'/>&nbsp;<span style='color:red;'>" + str + "</span>";
                
            }
           

          


        </script>

        <script type="text/javascript">
            $('document').ready(function () {

                //always enable on load
                $('#btnCharge').prop("disabled", false);

                //have it here too, toggle on/off the Shipping Address
                var chkShipToHome = document.getElementById('chkShipToHome').checked;
                var divShowHide = document.getElementById('divShippingAddress');
                //alert(chkShipToHome);
                if (chkShipToHome == false) {
                    // alert('false');
                    divShowHide.style.display = 'none';
                } else {
                    // alert('true');
                    divShowHide.style.display = 'block';
                }
                

                //Stripe.setPublishableKey('pk_test_FV6Th1IbZs5mYovNyOrxOigs');
                //live:test
                //Stripe.setPublishableKey('pk_test_AaAGXSURFqJNJBF4ULSTHw5l');
                //live:prod
                //Stripe.setPublishableKey('pk_live_vD4YRjg53RI18fy0aMLbZlgw');
                Stripe.setPublishableKey('@ConfigurationManager.AppSettings["StripePublicKey"].ToString()');

                $('#btnCharge').on('click', function (e) {
                    //disable the button to prevent double click
                    $('#btnCharge').prop("disabled", true);
                    $('#btnCharge').text("PROCESSING...");
                   
                    var IsValid = true

                    var nameOnCard = document.getElementById('txtNameOnCard').value;
                    var CCNumber = document.getElementById('txtCardNumber').value;
                    var CVCNumber = document.getElementById('txtCvc').value;
                    //validate addresses of checkbox is checked
                    var chkShipToHome = document.getElementById('chkShipToHome').checked;
                    var divShowHide = document.getElementById('divShippingAddress');

                    //check credit card first
                      if (nameOnCard == '') {
                            $('#txtNameOnCard').css('border-color', 'red');
                            $('#spNameOnCard').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtNameOnCard').css('border-color', '');
                            $('#spNameOnCard').css('display', 'none');
                        }
                        if (CCNumber == '') {
                            $('#txtCardNumber').css('border-color', 'red');
                            $('#spCardNumber').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtCardNumber').css('border-color', '');
                            $('#spCardNumber').css('display', 'none');
                        }
                        if (CVCNumber == '') {
                            $('#txtCvc').css('border-color', 'red');
                            $('#spCvc').css('display', 'block');
                            IsValid = false;
                        }

                        else {
                            $('#txtCvc').css('border-color', '');
                            $('#spCvc').css('display', 'none');
                        }

                    //alert(chkShipToHome);
                    //check shipping address if picked
                    if (chkShipToHome == true) {
                        var firstName = $('#txtFirstName').val();
                        var lastName = document.getElementById('txtLastName').value;
                        var address = document.getElementById('txtAddress').value;
                        var city = document.getElementById('txtCity').value;
                        var state = document.getElementById('txtState').value;
                        var zip = document.getElementById('txtPostalCode').value;
                    

                       
                        if (firstName == '') {
                            $('#txtFirstName').css('border-color', 'red');
                            $('#spFirstName').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtFirstName').css('border-color', '');
                            $('#spFirstName').css('display', 'none');
                        }
                        if (lastName == '') {
                            $('#txtLastName').css('border-color', 'red');
                            $('#spLastName').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtLastName').css('border-color', '');
                            $('#spLastName').css('display', 'none');
                        }
                        if (address == '') {
                            $('#txtAddress').css('border-color', 'red');
                            $('#spAddress').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtAddress').css('border-color', '');
                            $('#spAddress').css('display', 'none');
                        }

                        if (city == '') {
                            $('#txtCity').css('border-color', 'red');
                            $('#spCity').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtCity').css('border-color', '');
                            $('#spCity').css('display', 'none');
                        }
                        if (state == '') {
                            $('#txtState').css('border-color', 'red');
                            $('#spState').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtState').css('border-color', '');
                            $('#spState').css('display', 'none');
                        }
                        if (zip == '') {
                            $('#txtPostalCode').css('border-color', 'red');
                            $('#spZip').css('display', 'block');
                            IsValid = false;
                        }
                        else {
                            $('#txtPostalCode').css('border-color', '');
                            $('#spZip').css('display', 'none');
                        }
                    }

                 

                    if (IsValid == false) {
                        $('#btnCharge').prop("disabled", false); //enable again
                        $('#btnCharge').text("PLACE YOUR ORDER");
                        return 0;
                    }

                    e.preventDefault();
                    e.stopPropagation();

                    Stripe.card.createToken({
                        number: $('#txtCardNumber').val(),
                        cvc: $('#txtCvc').val(),
                        exp_month: $('#txtExpiryMonth').val(),
                        exp_year: $('#txtExpiryYear').val()
                    }, stripeResponseHandler);
                });

                function stripeResponseHandler(status, response) {
                    var $form = $('#frmCharge');

                    if (response.error) {
                        //re-enable
                        $('#btnCharge').prop("disabled", false);
                        $('#btnCharge').text("PLACE YOUR ORDER");
                        // Show the errors on the form
                        alert(response.error.message);
                    } else {
                        // response contains id and card, which contains additional card details
                        var token = response.id;

                        // Insert the token into the form so it gets submitted to the server
                        $('#hdnToken').val(token);
                       // alert($('#hdnToken').val());
                        // and submit
                        $form.get(0).submit();
                        //re-enable
                        //$('#btnCharge').prop("disabled", false);
                        //$('#btnCharge').text("PLACE YOUR ORDER");

                        skm_LockScreen('We are processing your order...');
                        
                    
                    }
                }
            });
        </script>
    }
